/* .background {
} */

.bg-pattern-top {
	background-image: url("./images/bg-pattern-top.svg");
	position: absolute;
	transform: translate(0, 0) rotate(180deg) scaleX(-1);
	opacity: 0.5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* .bg-pattern-bottom {
	background-image: url("./images/bg-pattern-bottom.svg");
	position: absolute;
	transform: translate(50%, 0%) rotate(180deg) scaleY(-1);
	bottom: 0;
	right: 50%;
	width: 100%;
	height: 100%;
} */
